#logo{
	position:absolute;
	top:25px;
	left:70px;
	z-index:10;
}
body { margin: 0; 
	padding:0;
overflow-y: hidden;
	
	 }


strong{
font-weight:normal;
}


.boite img {width:100% ; height:100%;
	position:absolute;
	top:0px;
	left:0px;
z-index:-1;

	}


.fade1,.fade2,.fade3 { 
	display: none;
	}

	#lesLiens{
	/*	font-family: 'Economica', sans-serif;*/
	font-family: 'Anaheim', sans-serif;
		position:fixed;
		bottom:170px;
		width:100%;
	/*	height:500px;*/
	padding-bottom:30px;
		padding-left:78px;
		padding-top:20px;
		background-color: rgba(255,250,250,0.5);
		z-index:16;
	}
	
	#leTit{
	/*	font-style:italic; */
		font-size:38px;
		font-family: 'Julius Sans One', sans-serif;
		height: 50px;
	    margin-top: 20px;
	}

	.theLink{
			background-image: url('fleche.png');
			background-position:left 22%;
			padding-left: 30px;
			font-size:22px;
			color:#000000;
			height:50px;
			background-repeat:no-repeat;		
}

.container{
	width:400px;
	float:left;
	
}


.laLeg{
	font-size:14px;
	color:#111;
	
	font-family: 'Georgia';
	font-style:italic;	
	
}


	.theLink:hover{
background-image: url('flecheOver.png');
	background-position:left 22%;
	padding-left: 30px;
	font-size:22px;
	color:#BBB;

}



A:link {text-decoration: none; color: #000;}
A:visited {text-decoration: none; color: #111;}
A:active {text-decoration: none; color: #BBB;}
A:hover {text-decoration: none; color: #BBB;}


	#theExplan{
	background-color: rgb(0,0,0);
	
	padding: 10px 30px 30px 30px;
		
	height:220px;
	width:220px;
	position:fixed;
	top:100px;
	right:50px;
	z-index:19;

}



H1{

		font-family: 'Georgia';
		font-style:italic;
		font-size:19px;
			line-height:26px;
			width:210px;
		font-weight:normal;

			color:#DDD;


}


	
	
	
	#footer{
		position:fixed;
		bottom:80px;
		width:100%;
		padding-left:78px;
		background-color: rgba(0,0,0,0.9);
		z-index:18;
	}
 